[Unit]
Description = start rss2slack deamon

[Service]
ExecStart = /opt/exec_rss2slack.sh
Restart = always
Type = simple

[Install]
WantedBy = multi-user.target
